*/babel/*.json
.idea
data/hml3d
results/
output/
outputs/
data/yaml_files
data/smpl
data/pretrained_models
data/amass
assets
__pycache__/
**/__pycache__/
*.pyc
phys_anim/base_interface/__pycache__/
*.pt